@using SmartHouse
@model System.Collections.Generic.IDictionary<uint, Device>
@{
    Layout = null;
    // ViewBag props
    // microwaveNames
    // ovenNames
    // fridgeNames
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-basic-width" />
    <title>Smart House MVC</title>
    <link rel="stylesheet" href="../../Content/Css/SmartHouseMVC.css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>

    <script src="~/Scripts/script.js"></script>
</head>
<body>

    <!--
    Архаизмы:
    js_DeviceName
    js_AddButton

    Проверить.
    js_HoursSetField
    js_MinutesSetField
    js_TimeSetSubmit

    js_ITemperatureDiv
    js_TemperatureSetField
    js_TemperatureSetSubmit

    js_ITimerDiv
    js_SecondsSetField

        -->

    <div>
        <div class="add-device-panel">
            @CreateDevicePanelItem("../../Content/Images/clock.png", "clock-dialog")
            @CreateDevicePanelItem("../../Content/Images/microwave.png", "microwave-dialog")
            @CreateDevicePanelItem("../../Content/Images/oven.png", "oven-dialog")
            @CreateDevicePanelItem("../../Content/Images/fridge.png", "fridge-dialog")
        </div>

        <div class="all-devices-container">
            @foreach (KeyValuePair<uint, Device> pair in Model)
            {
                @CreateDevice(pair.Key, pair.Value)
            }
        </div>
        <!-- hidden -->
        @CreateDeviceDialog("clock-dialog", "clock")
        @CreateDeviceDialog("microwave-dialog", "microwave", ViewBag.microwaveNames)
        @CreateDeviceDialog("oven-dialog", "oven", ViewBag.ovenNames)
        @CreateDeviceDialog("fridge-dialog", "fridge", ViewBag.fridgeNames)

        @CreateRenameDialog("rename-dialog")
        <!-- end hidden -->
    </div>
</body>
</html>

@helper CreateDeviceDialog(string dialogId, string device, string[] items = null)
{
    <div id="@dialogId">
        @using (Html.BeginForm("AddDevice", "Home", FormMethod.Post))
        {
            @Html.TextBox("name")
            <input type="hidden" name="device" value="@device" />
            if (items != null)
            {
                <select name="fabricator">
                    @foreach (string item in items)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            }
            <input type="submit" value="Ок" />
        }
    </div>
}

@helper CreateRenameDialog(string dialogID)
{
    <div id="@dialogID">
        @using (Html.BeginForm("RenameDevice", "Home", FormMethod.Post))
        {
            @Html.TextBox("newName")
            <input type="hidden" id="renameId" name="id" />
            <input type="submit" value="Ok" />
        }
    </div>
}

@helper CreateDevicePanelItem(string src, string dialogId)
{
    <div>
        <div class="image">
            <img src="@src" />
        </div>
        <div class="add-device-control">
            <input type="button" value="add" onclick="openDialog('@dialogId')" />
        </div>
    </div>
}

@helper CreateDevice(uint id, Device device)
{
    <div class="device-container">
        <div class="device-basic">
            <!-- device-basic -->
            <div class="device-control">
                <a href="/Home/ToogleDevice?id=@id">
                    @if (device.IsOn)
                    {
                        <img src="~/Content/Images/on.png" alt="Toggle" class="toogle-button"/>
                    }
                    else
                    {
                        <img src="~/Content/Images/off.png" alt="Toggle" class="toogle-button"/>
                    }
                </a>
                <a href="/Home/RemoveDevice?id=@id"><img src="~/Content/Images/remove.png" alt="Remove" class="rename-button"/></a>
                <input type="image" src="~/Content/Images/rename.png" alt="Rename" onclick="rename(@id, '@device.Name')" class="remove-button"/>
            </div>
            <div class="device-name">
                <span id="Name" class="device-name-label">@device.Name</span>
            </div>
            <div class="image">
                @if (device is Clock)
                {
                    <img src="~/Content/Images/clock.png" alt="clock"/>
                }
                else if (device is Microwave)
                {
                    <img src="~/Content/Images/microwave.png" alt="microwave"/>
                }
                else if (device is Oven)
                {
                    <img src="~/Content/Images/oven.png" alt="oven"/>
                }
                else if (device is Fridge)
                {
                    <img src="~/Content/Images/fridge.png" alt="fridge"/>
                }
            </div>
        </div>
        <!-- device-device-interfaces -->
        <div class="device-interfaces">
            <div class="device-interfaces-small">
                <div>
                    <!-- IOpenable -->
                    <a><img src="" alt="OpenClose" /></a>
                    <!-- IBacklight -->
                    <img src="" alt="IsHighlightedImage" />
                </div>
                <!-- IVolume -->
                <div>
                    <span></span>
                </div>
            </div>
            <!-- IClock -->
            <div class="js_IClockDiv">
                <input type="hidden" />
                <div class="js_dynamicClockDiv">This div will be turned into a dynamic clock</div>
                @using (Html.BeginForm())
                {
                    <input type="number" maxlength="2" min="0" max="23" class="js_HoursSetField" required="required" />
                    <span>:</span>
                    <input type="number" maxlength="2" min="0" max="59" class="js_MinutesSetField" required="required" />
                    <input type="submit" value="Set Time" class="js_TimeSetSubmit" />
                }
            </div>
            <!-- ITemperature -->
            <div class="js_ITemperatureDiv">
                @using (Html.BeginForm())
                {
                    <input type="number" maxlength="5" min="" max="" class="js_TemperatureSetField" />
                    <input type="submit" value="Set temperature" class="js_TemperatureSetSubmit" />
                }
            </div>
            <!-- ITimer -->
            <div class="js_ITimerDiv">
                @using (Html.BeginForm())
                {
                    <input type="number" maxlength="2" min="0" max="23" class="js_HoursSetField" required="required" />
                    <span>:</span>
                    <input type="number" maxlength="2" min="0" max="59" class="js_MinutesSetField" required="required" />
                    <span>:</span>
                    <input type="number" maxlength="2" min="0" max="59" class="js_SecondsSetField" required="required" />
                    <input type="submit" value="Set Timer" class="js_TimeSetSubmit" />
                    <a><img src="" alt="StartStop" /></a>
                }
            </div>
            <!-- Fridge -->
            <div class="fridge">
                <!-- Coldstore -->
                <div class="device-interfaces">
                    <div class="device-interfaces-small">
                        <div>
                            <!-- IOpenable -->
                            <a><img src="" alt="OpenClose" /></a>
                            <!-- IBacklight -->
                            <img src="" alt="IsHighlightedImage" />
                        </div>
                        <!-- IVolume -->
                        <div>
                            <span></span>
                        </div>
                    </div>
                    <!-- ITemperature -->
                    <div class="js_ITemperatureDiv">
                        @using (Html.BeginForm())
                        {
                            <input type="number" maxlength="5" min="" max="" class="js_TemperatureSetField" />
                            <input type="submit" value="Set temperature" class="js_TemperatureSetSubmit" />
                        }
                    </div>
                </div>

                <!-- Freezer -->
                <div class="device-interfaces">
                    <div class="device-interfaces-small">
                        <div>
                            <!-- IOpenable -->
                            <a><img src="" alt="OpenClose" /></a>
                        </div>
                        <!-- IVolume -->
                        <div>
                            <span></span>
                        </div>
                    </div>
                    <!-- ITemperature -->
                    <div class="js_ITemperatureDiv">
                        @using (Html.BeginForm())
                        {
                            <input type="number" maxlength="5" min="" max="" class="js_TemperatureSetField" />
                            <input type="submit" value="Set temperature" class="js_TemperatureSetSubmit" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
